@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 7%;  /* Deep Navy Background */
    --foreground: 210 40% 98%;

    --card: 222 47% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 24 100% 55%; /* Asl To'q sariq (Orange) */
    --primary-foreground: 0 0% 100%;

    --secondary: 222 47% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 47% 16%;
    --muted-foreground: 215 20% 65%;

    --accent: 222 47% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 47% 18%;
    --input: 222 47% 18%;
    --ring: 24 100% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/30;
  }
}
